.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.image{
  padding: 25px;
  display: block;    
  margin: auto;
  border-radius: 50%;
  width:300px;
  height:300px;
}
.title{
  text-align: center;
  color: rgb(237, 255, 245)
}
.b{
  color:rgb(255, 153, 0)
}
.c{
  color:rgb(43, 255, 0)
}
.ha{
  text-align: center;
  color:rgb(255, 153, 0)
}
.h3a{
  text-align: center;
  color: rgb(237, 255, 245)
}

.h4a{
  text-align: center;
  color:rgb(43, 255, 0)
}
.ok{
  color: white;
  font-family: Brush Script MT;
  text-transform: capitalize;
}
/* .navbar-brand{
  font-size:  38px;
} */
